include hashtags

mixin video(video)
  div.video-mixin
    a(href=`/videos/${video.id}`)
      div.video-mixin__thumb
      video(width="100%")#main-video
        //- source(src="videos/" + video.fileUrl type="video/mp4")
    div.video-mixin__data
      a(href=`/users/${video.owner.id}`)
        img(src=(video.owner.avatarUrl.split("/")[0] === "https:" 
            ? video.owner.avatarUrl 
            : "/users/" + video.owner.avatarUrl)).video__avatar
      div.video-mixin__meta
        a(href=`/videos/${video.id}`)
          span.video-mixin__title=video.title
        div.video-mixin__info
          a(href=`/users/${video.owner.id}`)
            span #{video.owner.name || video.owner.username} • 
          span #{video.meta.views} 회