extends base

block content
  if errorMsg
    span=errorMsg
  form(method="POST" enctype="multipart/form-data")
    label(for="avatar") Avatar 
    div.avatar
      img(src=loggedInUser.avatarUrl)
    div.filebox
      input(placeholder="Selected file" type="text" disabled).input__filename
      label(for="avatar") Select file
      input(type="file" id="avatar" name="avatar"  accept="image/*").input__file
    label(for="name") Name
    input(type="text" id="name" name="name" value=loggedInUser.name)
    label(for="email") Email
    input(type="email" required id="email" name="email" value=loggedInUser.email)
    label(for="username") Username
    input(type="text" required id="username" name="username" value=loggedInUser.username disabled)
    label(for="location") Location
    input(type="text" id="location" name="location" value=loggedInUser.location)
    input(type="submit" value="Update Profile").update__profile
  if !loggedInUser.socialOnly
    div.edit-profile__password
      a(href="change-password") Change Password &rarr;