extends base
include mixins/video

block content
  div.profile__data
    div.avatar
      img(src=user.avatarUrl)
    h3 
      p #{user.name || "NONE"}
    h3 
      p #{user.email || "NONE"}
    h3 
      p #{user.username || "NONE"}
    h3 
      p #{user.location || "NONE"}
    if isMine
      button(onclick = "location.href = 'edit'") Edit Profile &rarr;
  div.video-grid
    each video in user.videos
      +video(video)
    else
      span.empty__message No videos found