extends base
include mixins/hashtags

block content 
  video(src=video.fileUrl, controls, width="100%")
  h3 #{video.meta.views} #{video.meta.views > 1 ? "views" : "view"}
  div 
    p=video.description
    +hashtags(video.hashtags)
    small=video.createdAt
  br
  a(href=`${video.id}/edit`) Edit video &rarr;
  br
  a(href=`${video.id}/delete`) Delete video &rarr;