extends base
include mixins/hashtags

block content 
  video(src=video.fileUrl, controls, width="100%")
  h3 #{video.meta.views} #{video.meta.views > 1 ? "views" : "view"}
  div 
    p=video.description
    +hashtags(video.hashtags)
    p Uploaded by 
      a(href=`/users/${video.owner._id}`)=video.owner.username
    br
    small=video.createdAt
  if String(video.owner._id) === loggedInUser._id
    br
    a(href=`${video.id}/edit`) Edit video &rarr;
    br
    a(href=`${video.id}/delete`) Delete video &rarr;